@import url('https://fonts.googleapis.com/css2?family=Poppins');
 * {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 vertical-align: baseline;
}
 div {
	 position: relative;
	 z-index: 2;
}
 body {
	 background-image: linear-gradient(134.6deg, rgba(201, 37, 107, 1) 15.4%, rgba(116, 16, 124, 1) 74.7%);
	 color: #fff;
	 font-family: 'Poppins', sans-serif;
	 font-weight: 400;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 100vh;
	 overflow-x: hidden;
	 width: 100vw;
}
 .footer {
	 text-align: center;
	 display: block;
	 margin: 15px auto 30px auto;
	 font-size: 0.8em;
	 color: #fff;
}
 .footer a {
	 font-weight: 500;
	 text-decoration: none;
	 color: #fff;
}
 #wrapper{
	width: 90%;
	max-width: 700px;
	display: flex;
	margin: auto;
}
 #quote-box {
	 border-radius: 20px;
	 position: relative;
	 padding: 40px 50px;
	 display: table;
	 background-color: #fff;
	 background-color: rgba(0, 0, 0, 0.5);
}
 #quote-box .quote-text {
	 text-align: center;
	 height: auto;
	 clear: both;
	 font-weight: 500;
	 font-size: 1.75em;
}
 #quote-box .quote-text i {
	 font-size: 1em;
	 margin-right: 0.4em;
}
 #quote-box .quote-author {
	 height: auto;
	 clear: both;
	 padding-top: 20px;
	 font-size: 1em;
	 text-align: right;
}
 #quote-box .buttons {
	 margin: auto;
	 display: block;
}
 #quote-box .buttons .button {
	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
	 height: 38px;
	 border: none;
	 border-radius: 20px;
	 color: white;
	 background-color: rgba(0, 0, 0, 0.5);
	 outline: none;
	 font-size: 0.85em;
	 padding: 8px 18px 6px 18px;
	 margin-top: 30px;
	 opacity: 1;
	 cursor: pointer;
}
 #quote-box .buttons .button:hover {
	 background-color: rgba(0, 0, 0, 0.8);
}
 #quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
	 float: left;
	 padding: 0px;
	 padding-top: 8px;
	 text-align: center;
	 vertical-align: middle;
	 font-size: 1.2em;
	 margin-right: 5px;
	 height: 30px;
	 width: 40px;
}
 #quote-box .buttons .button#new-quote {
	 float: right;
}
 
@media only screen and (max-width: 400px) {
	#text {
		font-size: 15px;
		line-height: 30px;
	}
}